.precios {
    font-weight: bold;
    margin-bottom: 1.5rem;
  }
  .tamano {
    height: 65px;
  }
  .ItemDetailCard {
    display: flex;
    padding:3.5rem;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .mt10 {
    margin-top: 10px;
  }
  .ItemDetailSM {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }
  .ItemDetailImg {
    width: 500px;
    height: 700px;
    border-radius: 30px;
  }
  .ItemDetailImgContainer {
    width: 700px;
  }
  .gap-det {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }
  .equip {
    color: red;
    text-align: left;
  }
  .container-1{
    border-bottom: 1px grey solid;
  }

  @media screen and (max-width: 769px) {
    .ItemDetailImg {
      width: 400px;
      height: 400px;
      border-radius: 30px;
    }
    .ItemDetailImgContainer {
      width: 400px;
    }
  }
  @media screen and (max-width: 550px) {
    .ItemDetailImg {
      width: 150px;
      height: 300px;
      border-radius: 30px;
    }
    .ItemDetailImgContainer {
      width: 300px;
    }
    .ItemDetailCard {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
    .equip {
      color: red;
      text-align: center;
    }
  }
  
  @media screen and (max-width: 400px) {
    .ItemDetailImg {
      width: 100px;
      height: 200px;
      border-radius: 30px;
    }
    .ItemDetailImgContainer {
      width: 200px;
    }
    .ItemDetailCard {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
    .equip {
      color: red;
      text-align: center;
    }
  }