.containerSection {
    background-color: rgba(44,62,80,0.1);
 }
 .containerCardS {
    gap: 5rem;
     display: flex;
     justify-content: space-evenly;
 }
 .cardCS {
     display: flex;
     flex-direction: column;
     justify-content: space-around;
 }
.icon {
    width: 70px !important;
    height: 70px !important;
}
.wi {
    max-width: 140px;
}

@media screen and (max-width:550px) {
    .containerCardS {
        gap: 1rem;
     }
  }