.imagenesCard {
    width: 150px;
    height: 200px;
    margin-top: 5px;
  }
  .sombras {
      box-shadow: 1px 1px 5px grey;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
  }
  .cardM {
    width: 300px;
    height: 360px;
    transition: all 1s;
  }
  .cardM:hover {
    transform: scale(1.01);
  }
  .small {
    font-size: small;
  }
  .precios {
    font-weight: bold;
  }

  @media screen and (max-width:780px) {
    .cardM {
      transition: none;
    }
  }