.imagenesCard {
     width: auto;
    height: 200px;
    margin-top: 5px;
    object-fit: cover;
  }
  .sombras {
      box-shadow: 1px 1px 5px grey;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
  }
  .cardM {
    width: 300px;
    height: 360px;
    transition: all 1s;
  }
  .cardM:hover {
    transform: scale(1.01);
  }
  .small {
    font-size: small;
  }
  .precios {
    font-weight: bold;
  }
  .cardText {
    font-size: medium;
  }

  @media screen and (max-width:780px) {
    .imagenesCard {
      width: 100px;
    }
    .cardM {
      width: 170px;
      height: 300px;
      transition: none;
    }
    h4 {
      font-size:  calc(0.8rem + .3vw) !important;
    }
    .cardText {
      font-size: 0.8rem;
    }
  }

  
  @media screen and (max-width:450px) {
    .cardM {
      width: 120px;
      height: 200px;
      transition: none;
    }
    h4 {
      font-size:  calc(0.5rem + .3vw) !important;
    }
    .imagenesCard {
      width: 80px;
      height: 110px;
      margin-top: 5px;
      object-fit: cover;
    }
    .textSm {
      font-size: 0.575rem !important;
    }
    .cardText {
      font-size: 0.475rem;
    }
  }