.linkNV {
    text-decoration: none;
  } 
  .precios {
    font-weight: bold;
  }
  .Carro {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px black dotted;
    margin-bottom: 10px;
  }
  .imgCarro {
    width: 200px;
    height: auto;
    position: relative;
    left: -35px;
  }
  .btnCartWidget {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
  }
  
  .tablaCarrito {
    width: 100%;
  }
  .carritoHeader {
    display: flex;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
    justify-content: space-evenly;
  }
  .descItemCarro{
    position: relative;
    left: -86px;
  }

  .precioUnidadItemCarro {
    position: relative;
    left: -70px;
  }

  .precioItemCarro {
    position: relative;
    left: 35px;
}
  
  .borrarItemCarro {
    position: relative;
    left: 50px;
  }