.container {
  width: 100%;
  max-width: 1000px;
  margin: auto;
}
.child1 {
  width: auto;
  position: unset;
}
.child2 {
  width: auto;
  position: unset;
}
.child3 {
  width: auto;
  position: unset;
}
.child4 {
  width: auto;
  position: unset;
}
.child5 {
  width: auto;
  position: unset;
}

.table {
  width: 100%;
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  table-layout: fixed;
}

.table caption {
  font-size: 28px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 8px 0px;
}

.table tr {
  background-color: #f8f8f8;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-radius: 5px;
}

.table th, .table td {
  font-size: 16px;
  padding: 8px;
  text-align: center;
}

.table thead th{ 
  text-transform: uppercase;
  background-color: #ddd;
}


.carritoSection {
  width: 100%
}

.linkNV {
    text-decoration: none;
  } 
  .precios {
    font-weight: bold;
  }
  .Carro {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px black dotted;
    margin-bottom: 10px;
  }
  .imgCarro {
    width: 200px;
    height: auto;
    position: relative;
    left: -35px;
  }
  .btnCartWidget {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
  }
  
  .tablaCarrito {
    width: 100%;
  }
  .carritoHeader {
    display: flex;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
    justify-content: space-evenly;
  }
  .descItemCarro{
    position: relative;
    left: -86px;
  }

  .precioUnidadItemCarro {
    position: relative;
    left: -70px;
  }

  .precioItemCarro {
    position: relative;
    left: 35px;
}
  
  .borrarItemCarro {
    position: relative;
    left: 50px;
  }

  @media screen and (max-width: 600px) {
  .Carro {
    justify-content: flex-start;
  }
  .imgCarro {
      width: 80px;
    }
  .child1 {
      position: relative;
      left: -3px;
      
    }
  .child2 {
    position: relative;
    left: 33px;
    }
  .child3 {
    position: relative;
    left: 35px;
    }
  .child4 {
    position: relative;
    left: 13px;
    }
  .child5 {
    position: relative;
    left: 3px;
    }
  .borrarItemCarro {
      left: 42px
      ;
      bottom: 10px;
    }
  .table {
      border: 0px;
  }
  .table caption {
      font-size: 22px;
  }
  .table thead {
      display: block;
  }
  .table tr {
      margin-bottom: 8px;
     
      
  }
  .table th, .table td {
      font-size: 8px;
  }
  .table td {
      text-align: center;
  }
}
@media screen and (max-width: 375px) {
  .Carro {
    justify-content: flex-start;
  }
  .imgCarro {
      width: 80px;
    }
  .child1 {
      position: relative;
      left: -7px;
      
    }
  .child2 {
    position: relative;
    left: 38px;
    }
  .child3 {
    position: relative;
    left: 37px;
    }
  .child4 {
    position: relative;
    left: -4px;
    }
  .child5 {
    position: relative;
    left: -22px;
    }
  .borrarItemCarro {
      left: 16px
      ;
      bottom: 10px;
    }
 }
 @media screen and (max-width: 320px) {
  .table tr {
    border-right: none;
  }
  .table th, .table td {
    font-size: 7px;
}
  .Carro {
    justify-content: flex-start;
  }
  .imgCarro {
      width: 80px;
    }
    .child1 {
      position: relative;
      left: -20px;
      
    }
  .child2 {
    position: relative;
    left: 20px;
    }
  .child3 {
    position: relative;
    left: 20px;
    }
  .child4 {
    position: relative;
    left: -30px;
    }
  .child5 {
    position: relative;
    left: -52px;
    }
  .borrarItemCarro {
      left: -10px
      ;
      bottom: 10px;
    }
 }