
.resumenCart{
  grid-area: compras;
}
.formCompra {
    text-align: center;
    width: 70%;
    height: fit-content;
    background-color: white;
    box-shadow: 1px 1px 6px grey;
    border-radius: 50px;
    margin-top: 70px;
    grid-area: form;
  }
  .formInt {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
      align-items: center;
      gap: 20px;
  }
  .btnForm {
    margin-bottom: 20px !important;
  }
  .divGen {
    padding: 2rem;
  }
  .formCompraLista {
    border-radius: 33px 0px 40px 0px;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 70%;
    height: 200px;
    margin: 100px auto;
    background-color: white;
    border: 1px solid grey;
    border-radius: 50px;
    box-shadow: 1px 1px 10px grey;
  }
  .formCompraListaInt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .orderCode{
      font-weight: bold;
      color: black;
  }
  .loading{
    text-align: center;
    margin:100px;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    justify-self: center;
    align-items: center;
  }
  .checkout {
      display: grid;
      justify-items: center;
      width: 100%;
      height: auto;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "form compras";
      margin-top: 40px;
  }
  .padreCheckoutItem {
    display: flex;
  }
  .imgCheckoutItem {
    height: 150px;
  }
  .resumenTop {
    border-bottom: 1px solid black;
  }
  .resumenBottom {
    border-top: 1px solid black;
  }
  .error {
    color: red;
  }
  .inputsCheckout {
    width: 65%;
    height: 29px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid #5ccfb4;
  }

  @media screen and (max-width: 768px) {
    .checkout {
      grid-template-areas: "compras compras" "form form" ;
      gap: 2rem;
    }
    .formCompraLista {
      width: 100%;
    }
  }
  @media screen and (max-width: 568px) {
    .formCompra {
      width: 90%;
    }
    .checkout {
      gap: 2rem;
    }
    .formCompraLista {
      width: 100%;
    }
  }