.categoryText{
    font-family: 'Patrick Hand', cursive;
}
.containerGen {
   background-color: #cb3234;
   height: 400px;
}
.containerCard {
    display: flex;
    justify-content: space-evenly;
}
.cardC {
    transition: all 1s;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.cardC:hover {
    transform: rotate(0.01turn);
}
.cardImg {
    width: 300px;
    height: 280px;
    border-radius: 50%;
}
.hov {
    display: block;
    color: white;
    text-decoration: none;
    transition: all 0.5s;
}
@media screen and (max-width:780px) {
    .cardC {
      transition: none;
    }
    .containerGen {
        height: 250px;
     }
     .cardImg {
    width: 130px;
    height: 140px;
     }
  }
  @media screen and (max-width:424px) {
    .hov {
        display: none;
    }
    .cardC {
      transition: none;
    }
    .containerGen {
        height: 220px;
     }
     .cardImg {
    width: 100px;
    height: 120px;
     }
  }