
.App {
  text-align: center;
  font-family: 'Roboto', sans-serif !important;
}
body {
  font-family: 'Roboto', sans-serif !important;

}

/* body {
  
  min-height: 100vh;
} */
/* footer {
 position: fixed;
 bottom: 0;
 width: 100%;

} */