.contador {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: baseline;
    gap: 20px;
  }
  .btnContador {
    border-radius: 100px;
  }
  .enCards {
    display: flex;
    justify-items: center;
    align-items: baseline;
    justify-content: center;
  }